$MQs: true;

@import "normalize.scss";
@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  
  *, *:after, *:before {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *:hover { }
  
  html, body {
    height: 100%;
  }
  
  html {
    font-size: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    //line-height: 1;
    font-family: $f-base;
    @include font-size($baseFontSize);
    color: black;
  }
  
  img {
    display: block;
    max-width: 100%; 
    height: auto;
    -ms-interpolation-mode: bicubic;
    -moz-user-drag: -moz-none;
    -webkit-user-drag: none;
    user-drag: none;
  }
  
  a {
    text-decoration: none;
    color: blue;
    font-weight: 500;
    transition: color 400ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    &:hover {
      color: blue;
    }
    &:visited {
      color: blue;
    }
  }
  
  figure {
    position: relative;
    margin: 0 0;
  }
  
  p {
    @include font-size(19);
    line-height: 1.8em;
  }

  h2 {
    @include font-size(28);
    line-height: 1.8em;
  }

  h2 {
    @include font-size(26);
    line-height: 1.8em;
  }
  
  p + p, section + section {
    margin-top: 1.5em;
  }
  
  dl, ol, ul {
    margin-bottom: 1.8em;
  }
  
  ul, ol {
    margin: 0 0;
    padding: 0 0;
  }
  
  li ul, li ol {
    margin: 0;
  }

  main {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    padding: 50px 0;
   @include bp(small) {
        width: 85%; 
        max-width: 825px;
    }
}
